.categoryNavWrp {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  z-index: 1;
  padding: 0 10px;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 0;
    background: linear-gradient(90deg, #FAFAFA 41.59%, rgba(245, 245, 247, 0) 93.56%);
    width: 35px;
    height: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 10px;
    background: linear-gradient(270deg, #FAFAFA 41.59%, rgba(245, 245, 247, 0) 93.56%);
    width: 40px;
    height: 100%;
  }

  &_sticky {
    position: fixed;

    background-color: #FAFAFA;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0 15px 22px 0 rgba(0,0,0,0.1);
  }
}
.categoryNav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 18px;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    display: none;
  }


  &__link {
    color: #717171;
    white-space: nowrap;
    transition: color 0.5s ease-in-out;

    &_active {
      color: #000000;
    }
  }

  &__separator {
    min-width: 1px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}